*.tex.bak
*.out
*.aux
*.log
*.synctex.gz
*.dvi
*.bbl
*.blg
*.toc
*.sav
*.lof
*.lol
*.lot
*.fdb_latexmk
*.fls
*-blx.bib
*.run.xml
*.soc
*.swp
.DS_Store
dissertation.pdf
.xdp*
*.bcf

operator-sdk/
.idea
results/
vendor/
e2e-*
*.test
*.log
*.ist
*.gls
*.glg
*.alg
*.acn
*.acr

.ipynb_checkpoints